@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-blue-200 !important;
}

@layer components {
  .container {
    @apply mx-auto px-2 max-w-7xl;
  }

  .input {
    @apply block w-full border-gray-300 border rounded py-3 px-2 text-lg;
  }

  .btn {
    @apply inline-block bg-blue-500 text-white text-lg px-4 py-1 rounded-full;
  }
}

.zipCode {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../assets/images/main.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @apply text-white;
}

.btn:disabled {
  @apply text-white;
  --tw-text-opacity: 1;
}